<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="GetAllEmp" value="https://localhost:7262/api/Employees" />
		<add key="GetEmp" value="https://localhost:7262/api/Employees/GetEmployee?id=" />
		<add key="AddEmp" value="https://localhost:7262/api/Employees/Add" />
		<add key="UpdateEmp" value="https://localhost:7262/api/Employees/Update?id=" />
		<add key="DeleteEmp" value="https://localhost:7262/api/Employees/Delete?id=" />
	</appSettings>
</configuration>
